#contact{
    padding:30px;
}
.ContainerContact {
    padding: 10px;
    max-height: 890px;
    display: flex;
    align-items: center;
    justify-content:center;
    border:3px solid linen;
}

.picofmecontact{
    width: 450px;
    height: auto;
}