/* #about{
    padding:-100px 0px;
    display: grid;
    padding: ülevalt, vasakult paremalt
} */

.ContainerAboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94%;
    /* border:3px solid linen; */
}

.aboutmerow{
    display: flex;
    justify-content: center;
    max-width: 95%;
    min-width: 95%;
    /* border:3px solid linen; */

}

.aboutcol{
    flex-basis: 22.5%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10%;
    border:3px solid rgb(255, 11, 11);
}

.title {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 85px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: .5px;
    line-height: auto;
    text-transform: none;
    color: linen;
    border: 3px solid linen;
}

.box1{
    /* display: inline-flex; */
    width: 100%;
    height: 15.5px;
    margin-top: -22.4px;
    background-image : linear-gradient(to left, 
    rgba(255,255,255, 0), 
    rgb(0, 255, 255) 170%);
}

.aboutcol2{
    flex-basis:20%;
    align-self: center;
    /* border:3px solid linen; */
}

.aboutmore{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-right: 30px;
    /* border:3px solid rgb(236, 118, 0); */
}

.aboutmorelinks{
    align-self: flex-end;
    margin-right: 1.5%;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: .5px;
    line-height: 40px;
    text-transform: none;
    color: linen;
    direction: rtl;
    transition: 0.35s;
    z-index: 1;
    /* border:3px solid rgb(247, 169, 91); */
}

.aboutmorelinks:hover{
    color:linen;
    transform: scale(1.15);
    text-shadow: 0px 0px 20px rgb(0, 238, 255);
    transition: all .75s ease-in-out;
    cursor:pointer;
}



.aboutcol3{
    flex-basis: 35%;
    align-self: center;
    /* border:3px solid rgb(16, 98, 136);     */
}

.parag {
    font-family: Esteban, Georgia, 'Times New Roman', serif;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.5px;
    line-height: 20px;
    text-transform: none;
    color: linen;
    /* margin-top: 23.5%; */
    /* margin-left: -25%; */
    padding: .5%;
    /* border:3px solid rgb(82, 162, 199); */
}


