#resume{
    padding: 30px;
}

.ContainerResume {
    padding: 10px;
    max-height: 890px;
    display: flex;
    align-items: center;
    justify-content:center;
    border:3px solid linen;
}

.picofmeresume{
    width: 350px;
    height: auto;
    margin-left: 50px;
    border:3px solid linen;
}

.aboutmeresume{
    margin-left: 0px;
    border:3px solid linen;
}

.resumestuff{
    margin-left: 260px;
    border:3px solid linen;
}